{% extends './layout.html' %}
{% block title %} {{title}} {% endblock %}

{% block head %}
<link rel="stylesheet" href="stylesheet/index.css">
{% endblock  %}

{% block content %}
<div id="app" class="container">
    <!--大拇指-->
    <div class="wrapper">
        <!--手腕-->
        <div class="wrist"></div>
        <!--大拇指-->
        <div class="one"></div>
        <!--手掌-->
        <div class="circle"></div>
    </div>
    <span class="hide" id="animation">+1</span>
</div>


<script src="https://cdn.bootcss.com/systemjs/0.21.0/system.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<!--<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
<script type="text/javascript" src="javascript/index.js"></script>
<script type="text/javascript">
    SystemJS.config({
        baseURL: '/javascript'
    });
    SystemJS.import('ThumbButton.js').then(function (m) {
        $.extend({
            thumb:m.default.ThumbButton
        });
        callback();
    });

    function callback() {
        var f = new $.thumb(0, $("#app"));
        f.clickAction();
    }
</script>

{% endblock %}